/*
Theme Name: BlogIt
Theme URI: https://tareqanwar.com/themes/blogit/
Author: Tareq Anwar
Author URI: https://tareqanwar.com/
Description: A wordpress theme for blogit.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body {

	padding: 0;
	margin: 0;
	background: #efefef;
}

/* BLOCK LAYOUT
------------------------------------------------------------------------ */


.container {
	width: 100%;
	max-width: 960px;
	margin: 50px auto;
	background: #fff;
	padding: 0;
}

header.main {
	width: 100%;
	clear: both;
	min-height: 100px;
	background-color: #ddd;
	color: #fff;
	padding-left: 30px;
}

#content {
	width: 100%;
}

#primary {
	width: 100%;
	float: right;
	padding: 3%;
	border: none;
}

#secondary {
	width: 100%;
	float: left;
	padding: 6% 3%;
	border-top: 1px solid #cfcfcf;
	background: #efefef;
}

footer.main {
	width: 100%;
	clear: both;
	min-height: 100px;
	line-height: 100px;
	text-align: center;
	background: #666;
	color: #FFF;
	margin-top: 50px;
}

/* TYPOGRAPHY
------------------------------------------------------------------------ */

.site_title  {
	padding: 0;
	margin: 0;
	line-height: 100px;
	color: #337ab7;
	font-size: 30px;
	font-weight: 700;
}

h1.archive_title {

	color: #EDA809;
	font-size: 300%;
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
	margin-bottom: 20px;

}

footer p {
	margin: 0;
}


/* NAVIGATION
------------------------------------------------------------------------ */

ul.menu {
	padding-left: 0;
}

ul.menu li {
	list-style-type: none;
}



/* MEDIA QUERIES
------------------------------------------------------------------------ */

@media screen and (min-width: 768px) {

	#primary {
		width: 70%;
		border-left: 1px solid #cfcfcf;
	}

	#secondary {
		width: 29%;
		background: #fff;
	}

}